/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}

.contentDiv {
  padding: 30px 10px;
  margin: 0 10px;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90vw;
  max-width: 700px;
  position: relative;
  background-color: #fcfcfc;
}

.contentDiv > * {
  margin: 5px 0;
}

/* Global */
.smallText {
  font-size: 12px;
  margin: 10px 0;
}

.activeButton {
  transition: all 100ms ease-in-out;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(110deg, #030030 0%, #030030 50%, #00a4ff 50%, #0088ff 100%);
  background-size: 250% 100%;
  background-position: 100% 0%;
  cursor: pointer;
  font-size: 16px;
}

.activeButton:hover {
  filter: brightness(95%);
}

.activeButton:active {
  filter: brightness(90%);
  background-position: 0% 0%;
}

/* Loading */
.loadingOverlay {
  background-color: #ffffffe6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

/* Others */

.debug {
  text-align: center;
  display: block;
  padding: 7px 20px;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}

.qr {
  width: 90%;
  max-width: 375px;
  padding: 0;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgb(60, 60, 60);
}


/* About */
.credits {
  margin: 25px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(75, 75, 75);
}

.link {
  color: #ff4a22;
}

.link:hover {
  color: #c14300;
  text-decoration: underline;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) {
  
}
